# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Local data
data/raw/*
data/curated/*
data/analytics/*
!data/raw/.gitkeep
!data/curated/.gitkeep
!data/analytics/.gitkeep

# Environment
.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/